* linguist-language=PHP

/vendor/* linguist-vendored

# Loại bỏ thư mục "node_modules" khỏi việc tính toán ngôn ngữ
/node_modules/* linguist-vendored

# Bỏ qua các tệp tự động tạo như "composer.lock"
composer.lock linguist-generated
*.log linguist-generated
